



/* .container {
    width: 100%;
    height: 100%;
}


header {
    padding-top: 35px;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E1;
    display: block;
}
nav {
    height: 60px;
    background-color:#DE8714;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.banner{
    height: 236px;
}

div{
        margin: 0;
        padding: 0;
        border: 0;
}
div {
    display: block;
} */